---
title: Syrinx Client Case Study&#58; Altman Vilandrie and Company
description: Since 2004 Syrinx has worked with Agero to develop cutting-edge systems to power roadside assistance, telematics, and vehicle safety features.
billboard: Case Study
---

<h1>Altman Vilandrie &amp; Company</h1>

<p class="lead">
  Altman Vilandrie &amp; Company, now Altman Solon, supports companies and investors that are active in the
  Telecommunications, Media, and Technology (TMT) industries,  offering clear, rapid, and tailor-made solutions, ranging
  from strategy development to operations implementation.
</p>

<p>
  Syrinx worked with Altman Vilandrie &amp; Company to build statistical significance algorithms for brand health
  tracking data and then helped to re-architect the upcoming version of their app.
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Enterprise Development</li>
  <li>Big Data</li>
</ul>

<h3>Technologies</h3>
<p>Python</p>

<h3>Headquarters</h3>
<p>Boston, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.altmansolon.com" target="_blank">www.altmansolon.com</a></p>

<br />

