---
title: Syrinx Client Case Study - Arcadia Healthcare Solutions
description: Syrinx was brought in to build a regulated data opt-out web application.
billboard: Case Study
---

<h1>Arcadia Healthcare Solutions</h1>

<p class="lead">
  Arcadia is the only healthcare data and software company dedicated to healthcare organizations achieving financial
  success in value-based care.
</p>

<p>
  Syrinx was brought in to build a regulated data opt-out web application.
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Web Services</li>
</ul>

<h3>Technologies</h3>
<p>Ruby on Rails, HTML, Javascript, CSS</p>

<h3>Headquarters</h3>
<p>Burlington, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.arcadia.io" target="_blank">www.arcadia.io</a></p>

<br />

