---
title: Syrinx Client Case Study - CloudHealth/VMWare
description: 
billboard: Case Study
---

<h1>CloudHealth/VMWare</h1>

<p class="lead">
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Enterprise Development</li>
  <li>Web Services</li>
</ul>

<h3>Technologies</h3>
<p>Ruby on Rails, HTML, Javascript, CSS</p>

<h3>Headquarters</h3>
<p>Boston, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.cloudhealthtech.com" target="_blank">www.cloudhealthtech.com</a></p>

<br />