---
title: Cumberland Farms Smartpay Case Study
description: Syrinx built a mobile point-of-sale system for Cumberland Farms that allows their customers to find gas stations and pay at the pump.
billboard: Case Study
---

<h1>Cumberland Farms Smartpay</h1>

<p class="lead">Syrinx built a mobile point-of-sale system for Cumberland Farms that allows their customers to find gas stations and pay at the pump. High-performance iPhone, Android, and mobile HTML 5 clients connect to scalable cloud-based services that perform ACH, PayPal, and coupon management. SmartPay for Cumberland Farms is an industry leading mobile payment solution that has earned Cumberland Farms over nine digits in revenue.</p>

<hr />

<h2>About Cumberland Farms</h2>

<p>
  With new leadership and new products, Cumberland Farms rebranded itself as a company with a mission to make consumers'
  on-the-go lives that much easier. One of Forbes largest private companies, Cumberland Farms now operates more than 600
  convenience stores and gas stations in about a dozen eastern seaboard states. Cumberland owns a two-thirds limited
  partnership in petroleum wholesaler Gulf Oil LP, giving it the right to use and license Gulf trademarks in eastern US
  states. The first convenience store operator in New England, Cumberland Farms was founded in 1939 by Vasilios and
  Aphrodite Haseotes. Their descendants, includ- ing chairman Lily Haseotes Bentas, own the company.
</p>

<h2>The Situation</h2>

<p>
  In 2013, as part of Cumberland Farms' rebranding efforts and mission to increase customer convenience, The Cumberland
  Gulf Group executives sought a competitive advantage. The company needed a mobile payment solution; a comprehensive,
  user-friendly, visually-appealing system that integrated with the retailers' fuel infrastructure, loyalty program and
  point-of-sale systems. Cumberland Farms interviewed several technology companies and found that Syrinx Consulting was
  flexible and agile, and the most capable of delivering an innovative solution within the projected timeframe.
</p>

<h2>The Result</h2>

<p>
  Sorin Hilgen, VP of IT Shared Services at The Cumberland Gulf Group was tasked with redesigning Cumberland Farms'
  technology solutions as part of the overall company re-branding efforts. Sorin’s goal for The Cumberland Gulf Group
  was to deliver first to market a cashless, cardless payment solution. Sorin was anxious to find a company flexible
  enough to take on a partnership role with his team to execute his creative vision of having an easy-pay mobile
  solution as a key competitive advantage of the company.
</p>

<p>
  "Syrinx provided us with exceptional service and resources to meet our mobile and enterprise development goals. During
  the course of our collaboration, Syrinx met all our expectations. Moreover, they approached our projects as a true
  partner and not just an outsourced development team. They are fully committed to our projects and go above and beyond
  to ensure a smooth delivery."
</p>

<p>
  Within nine months of winning the The Cumberland Gulf Group account, Syrinx launched SmartPay, a fully-integrated,
  leading mobile application that serves hundreds of thousands of customers and through the loyalty program has saved
  customers almost $14 million (to date 9.30.14, since inception). Cumberland Farms did not have the expertise in-house
  to develop such a solution but with Syrinx's help, it brought Cumberland Farms to the forefront of convenient payments
  and generates a tremendous amount of incremental revenue for the company (over $100m in the first 12 months).
</p>

<hr />

<h3>Syrinx Service</h3>

<ul style="font-weight: 300">
  <li>Enterprise Application Development</li>
  <li>Mobile Development</li>
</ul>

<h3>Client Contact</h3>
<p>Sorin Hilgen, VP of IT Shared Services, The Cumberland Gulf Group</p>

<h3>Technologies</h3>
<p>Mobile platforms (native iOs, Android, HTML5); Java; Ruby on Rails</p>

<h3>Headquarters</h3>
<p>Framingham, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.cumberlandfarms.com" target="_blank">www.cumberlandfarms.com</a></p>

<br />
