---
title: Software Development Case Studies from Syrinx
description: Syrinx's case studies are meant to serve as a resource detailing the ins and outs of a breadth of issues relating to software development.
billboard: Our Work
---

<h1>Our Work</h1>

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/age.jpg')" href="/case-studies/agero.html">
        <h2 class="h1">Agero</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/altman.jpg')" href="/case-studies/altman.html">
        <h2 class="h1">Altman Vilandrie &amp; Company</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-color: black; background-image: url('/assets/img/cases/arcadia.png')" href="/case-studies/arcadia.html">
        <h2 class="h1">Arcadia Healthcare Solutions</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/bmc.jpg')" href="/case-studies/bostonmedical.html">
        <h2 class="h1">Boston Medical Center</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/cloudhealth.jpg')" href="/case-studies/cloudhealth.html">
        <h2 class="h1">CloudHealth/VMWare</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/cfg.jpg')" href="/case-studies/cumberland-farms-smartpay.html">
        <h2 class="h1">Cumberland Farms Smartpay</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/datasolv.jpg')" href="/case-studies/datasolv.html">
        <h2 class="h1">DataSolv</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/jnp.jpg')" href="/case-studies/jn-phillips-auto-glass.html">
        <h2 class="h1">JN Phillips Auto Glass</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/localytics.jpg')" href="/case-studies/localytics.html">
        <h2 class="h1">Localytics</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/fed.jpg')" href="/case-studies/major-national-bank.html">
        <h2 class="h1">Major National Bank</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/node.jpg')" href="/case-studies/node-mongo.html">
        <h2 class="h1">Node/Mongo</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/paypal.jpg')" href="/case-studies/paypal.html">
        <h2 class="h1">PayPal/eBay</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/SeeYourselfHealth.jpg')" href="/case-studies/seeyourselfhealth.html">
        <h2 class="h1">See Yourself Health</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/sefas.jpg')" href="/case-studies/sefas.html">
        <h2 class="h1">Sefas Innovation</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/tsd.jpg')" href="/case-studies/tsd.html">
        <h2 class="h1">TSD Mobility Solutions</h2>
      </a>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="spacer">
      <a class="caseStudy" style="background-image: url('/assets/img/cases/Zipcar.jpg')" href="/case-studies/zipcar.html">
        <h2 class="h1">Zipcar</h2>
      </a>
    </div>
  </div>
</div>

<br />