---
title: Syrinx Client Case Study - Localytics
description: Syrinx integrated Twitter's advertising API into the Localytics system, consulted on the design of their payment processing integrations, and refactored their test suite for speed.
billboard: Case Study
---

<h1>Localytics</h1>

<p class="lead">
  Localytics is a web and mobile app analytics and engagement company, with major brands such as ESPN, eBay, Fox,
  Salesforce, RueLaLa and the New York Times using its marketing and analytics tools to understand how apps are
  performing and to engage with new and existing customers.
</p>

<p>
  Syrinx integrated Twitter's advertising API into the Localytics system, consulted on the design of their payment
  processing integrations, and refactored their test suite for speed.
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Enterprise Development</li>
  <li>Web Services</li>
</ul>

<h3>Technologies</h3>
<p>Ruby on Rails</p>

<h3>Headquarters</h3>
<p>Boston, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://uplandsoftware.com/localytics/" target="_blank">uplandsoftware.com/localytics</a></p>

<br />