---
title: Syrinx Client Case Study - The [redacted]
description: Syrinx was brought in to build a regulated data opt-out web application.
billboard: Case Study
---

<h1>The [redacted]</h1>

<p class="lead">
  The [redacted] is a Boston-based investment manager with a long-term, value-oriented approach.
  When the [redacted] wanted to create a modern, mobile-ready way to share internal data around the company, they
  came to Syrinx.
</p>

<p>
  Syrinx was brought in to build a regulated data opt-out web application.
</p>

Led the front end design, architecture, development, and testing of a new internal report portal web/mobile app.

Providing development and quality assurance to build enterprise solutions for their various internal
software systems - specifically accounting and tax modules for partners and partnerships and investment management.

Revamping and extending architecture for enhanced service-oriented transactional processing of client accounting/tax
activities, enhancing reporting platform and implementing industry best practices and patterns.

Building reusable library of component, developer productivity tools and services to provide for consistency, faster
delivery time and more stable system. 

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Enterprise Development</li>
  <li>Web Services</li>
  <li>Mobile Development</li>
</ul>

<h3>Technologies</h3>
<p>Vue.js, HTML, CSS</p>

<h3>Headquarters</h3>
<p>Boston, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.baupost.com" target="_blank">www.baupost.com</a></p>

<br />