---
title: Syrinx Client Case Study - See Yourself Health
description: 
billboard: Case Study
---

<h1>See Yourself Health</h1>

<p class="lead">
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Enterprise Development</li>
  <li>Web Services</li>
</ul>

<h3>Technologies</h3>
<p>Node, HTML, Javascript, CSS</p>

<h3>Headquarters</h3>
<p>Beverly, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.seeyourselfhealth.com" target="_blank">www.seeyourselfhealth.com</a></p>

<br />