---
title: Syrinx Client Case Study - Zipcar
description: In 2013 Zipcar leveraged Syrinx's experience with Ruby on Rails and Torquebox to save development time maintaining their legacy backend systems.
billboard: Case Study
---

<h1>Zipcar</h1>

<p class="lead">
  In 2013 Zipcar leveraged Syrinx's experience with Ruby on Rails and Torquebox to save development time maintaining
  their legacy backend systems. Syrinx soon moved on to work with Zipcar's core API services team, helping build
  bridges to the old system as well as new micro services and features that were key to strategic partnerships. A few
  months later Syrinx switched to work with the account services &amp; billing team.
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Enterprise Development</li>
  <li>Web Services</li>
  <li>Payments</li>
</ul>

<h3>Technologies</h3>
<p>
  Micro services, Java, Groovy, Kotlin, JRuby, Ruby on Rails, Sinatra, Torquebox, HTML, CSS, JS, Rspec, Factory Girl,
  Postgres, Bash, New Relic, Adyen
</p>

<h3>Headquarters</h3>
<p>Boston, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.zipcar.com" target="_blank">www.zipcar.com</a></p>

<br />
