---
title: Syrinx Client Case Study - Acadian Asset Management
description: Syrinx works with Acadian Asset Management to design and develop applications to support their enterprise.
billboard: Case Study
---

<h1>Acadian Asset Management</h1>

<p class="lead">
  Acadian Asset Management is a global, quantitative, investment manager.
</p>

<p>
  Syrinx works with Acadian Asset Management to design and develop applications to support their enterprise. We develop
  and maintain numerous core business applications leveraging C#, and MS SQL Server as we help the company advance
  toward its target architecture and development practices. We have been building out automation capabilities for
  benchmarking/performance profiling of services. We work with the Acadian engineering team to design and build out load
  testing environments in AWS as well as integrate this testing platform into CI/CD pipelines.
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Cloud Migration</li>
  <li>Microservices Architecture</li>
  <li>CI/CD</li>
  <li>Enterprise Development</li>
  <li>Web Services</li>
</ul>

<h3>Technologies</h3>
<p>.NET/C#, SQL, AWS, React</p>

<h3>Headquarters</h3>
<p>Boston, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.acadian-asset.com" target="_blank">www.acadian-asset.com</a></p>

<br />
