---
title: Syrinx Client Case Study - CloudHealth/VMWare
description: Syrinx engineers helped CloudHealth implement their new UX design, build new features for tracking cloud server and data center health, and improve system performance.
billboard: Case Study
---

<h1>CloudHealth/VMWare</h1>

<p class="lead">
  CloudHealth by VMware is at the forefront of digital transformation, helping the world's largest organizations fuel
  innovation and gain a competitive advantage in the cloud.
</p>

<p>
  Syrinx engineers helped CloudHealth implement their new UX design, build new features for tracking cloud server and
  data center health, and improve system performance.
</p>

<hr />

<h3>Syrinx Service</h3>
<ul style="font-weight: 300">
  <li>Enterprise Development</li>
  <li>Web Services</li>
</ul>

<h3>Technologies</h3>
<p>Ruby on Rails, HTML, Javascript, CSS</p>

<h3>Headquarters</h3>
<p>Boston, Massachusetts</p>

<h3>Website</h3>
<p><a href="https://www.cloudhealthtech.com" target="_blank">www.cloudhealthtech.com</a></p>

<br />